<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_area :commenter, :size => "100x2" %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, :size => "100x8" %>
  </p>
  <p>
    <%= f.submit "Submit Message", class: "btn btn-success" %>
  </p>
<% end %>