<div class="container">
  <br>
  <br>
  <h1 class="text-center">Your Future Add!</h1>
  <div class="jumbotron show">
    <h2>
      <strong>Title:</strong>
      <%= @post.title %>
    </h2>
     
    <h4>
      <strong>ADD:</strong>
      <%= @post.text %>
    </h4>
  </div>

    <h2>Comments</h2>
    <%= render 'comments/comment' %>
 
  <div class="new">
    <h4>Add a comment:</h4>

    <%= render 'comments/form' %>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
</div>
</div>